@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');
$font: 'Montserrat',
sans-serif;
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #555;
    font-size: 14px;
    &.lock {
        overflow: hidden;
    }
}

@media (orientation: landscape) and (width: 812px) {
    body.lock {
        overflow: auto;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}

// WELCOME ========================
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px 0px;
    z-index: 9990;
    transition: all .3s linear;
    &:before {
        content: '';
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
    }
    &.active {
        padding: 10px 0px;
        &:before {
            background-color: #722315;
        }
    }
}

.welcome__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font;
    height: 50px;
}

.welcome__logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 5;
}

.welcome__nav {
    display: flex;
    & a {
        margin-left: 35px;
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 1.71;
        border-bottom: 1px solid transparent;
        display: inline-block;
    }
    & a:first-child {
        margin: 0;
    }
    & a:hover {
        text-decoration: underline;
    }
}

.burger {
    display: none;
    transition: all .3s ease;
    span,
    span:before,
    span:after {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: relative;
    }
    span:before,
    span:after {
        content: '';
        position: absolute;
        right: 0;
    }
    span:before {
        margin-top: -10px;
    }
    span:after {
        margin-top: 10px;
    }
    &.active span {
        background-color: transparent;
        &:before {
            margin-top: 0;
            transform: rotate(45deg);
        }
        &:after {
            margin-top: 0;
            transform: rotate(-45deg);
        }
    }
}

.welcome {
    background: url(../img/header.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.welcome__title {
    font-family: $font;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.welcome__subtitle {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.welcome__btn {
    display: inline-block;
    font-family: $font;
    text-transform: uppercase;
    padding: 15px 33px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 16px;
    transition: all .5s linear;
    &:hover {
        background-color: #000;
    }
}

// SERVICES ========================
.services {
    padding: 95px 0px 80px 0px;
}

.block__start {
    text-align: center;
    margin-bottom: 65px;
    .block__title {
        font-family: $font;
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;
        &:after {
            content: '';
            display: block;
            width: 50px;
            height: 2px;
            background-color: #555555;
            margin: 25px auto;
        }
    }
    .block__text {
        font-size: 16px;
        line-height: 1.5;
    }
}

.services__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

.services__block {
    text-align: center;
    flex: 0 1 33.333%;
    padding: 0px 10px;
}

.services__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 23px;
    width: 90px;
    height: 90px;
    border: 2px solid #dddddd;
    border-radius: 50%;
    position: relative;
    transition: all .5s linear;
    &:hover {
        background-color: #c0301c;
        .icon-box {
            stroke: #fff;
            fill: #fff;
        }
    }
    .icon-box {
        fill: #c0301c;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.services__title {
    display: inline-block;
    font-family: $font;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #555;
}

.services__text {
    line-height: 24px;
}

// ABOUT ========================
.about {
    padding: 80px 0px;
    background-color: #f8f8f8;
}

.about__text {
    display: flex;
    justify-content: space-between;
    margin: 0px -8px 70px -8px;
    & p {
        flex: 0 1 50%;
        line-height: 24px;
        padding: 0px 8px;
    }
}

.about__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__cards--item {
    flex: 0 1 25%;
    max-width: 260px;
    text-align: center;
}

.about__cards--photo {
    position: relative;
    margin-bottom: 20px;
    & img {
        max-width: 100%;
    }
    &:hover {
        .overlay {
            opacity: .5;
        }
        .about__cards--social {
            opacity: 1;
        }
    }
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s ease-out;
}

.about__cards--social {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.about__cards--social-link {
    display: block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s linear;
    &:hover {
        background-color: #c0301c;
    }
}

.about__cards--name {
    margin-bottom: 15px;
}

.about__cards--prof {
    font-size: 13px;
}

// WORKS ========================
.works {
    padding: 90px 0px 70px;
}

.block__list {
    max-width: 415px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 70px auto;
    & a {
        color: #555;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.5;
        &:hover {
            color: #c0301c;
        }
    }
}

.works__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards__item {
    flex: 0 1 335px;
    position: relative;
    &:hover {
        .opacity {
            opacity: .7;
        }
        .cards__hover {
            opacity: 1;
        }
    }
}

.item__img img {
    max-width: 100%;
}

.opacity {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #c0301c;
    opacity: 0;
    transition: opacity .5s ease;
}

.cards__hover {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .5s ease;
    .item__title {
        color: #ffffff;
        font-family: $font;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .item__text {
        color: #ffffff;
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 28px;
    }
    .item__btn {
        display: inline-block;
        background-color: #fff;
        padding: 15px 20px;
        & span {
            font-size: 14px;
            color: #c0301c;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            background: url(../img/works/icon/works-left.svg) no-repeat right;
            padding-right: 12px;
        }
    }
}

// PROJECT ========================
.project {
    background: url(../img/project/project__back.jpg) center no-repeat;
    background-size: сover;
    padding: 90px 0px;
}

.project__body {
    text-align: center;
}

.project__title {
    color: #ffffff;
    font-size: 30px;
    line-height: 44px;
    padding-bottom: 50px;
}

.project__btn {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 13px 20px;
    border: 2px solid #fff;
    transition: background .5s ease;
    &:hover {
        background: #000;
    }
}

// BLOG ========================
.blog {
    padding: 100px 0px;
}

.blog__item {
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ddd;
        margin: 38px 0px;
    }
    &:last-child:after {
        display: none;
    }
}

.item-wrapper {
    display: flex;
    justify-content: space-between;
}

.blog__img {
    flex: 0 1 auto;
    & img {
        max-width: 100%;
    }
}

.blog__info {
    max-width: 637px;
    flex: 0 1 auto;
}

.info__block {
    margin-bottom: 23px;
}

.info__date {
    display: inline-block;
    padding: 12px 20px;
    border: 2px solid #555555;
    color: #777777;
    font-family: $font;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.info__day {
    font-size: 24px;
    letter-spacing: 2.4px;
    margin-bottom: 7px;
}

.info__month {
    letter-spacing: 1.4px;
    font-size: 14px;
}

.info__by {
    display: inline-block;
    padding-left: 25px;
}

.info__title {
    font-family: $font;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
        color: #c0301c;
    }
}

.info__subtitle {
    color: #777;
    font-size: 13px;
    line-height: 24px;
    font-style: italic;
}

.info__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 34px;
}

.info__btn {
    display: inline-block;
    color: #777;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    &:hover {
        color: #c0301c;
    }
}

// COMMENTS ========================
.comments {
    padding: 100px 0px;
    background-color: #f8f8f8;
}

.comments__body {
    max-width: 900px;
    margin: 0 auto;
}

.comments__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.comments__person {
    color: #555;
    line-height: 30px;
    text-align: center;
    & .comment {
        font-style: italic;
        font-size: 18px;
        margin-bottom: 40px;
    }
    & .person {
        font-size: 20px;
    }
}

.comments__slider {
    & .slick-list {
        overflow: hidden;
    }
    & .slick-track {
        display: flex;
    }
    & .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        & li {
            &.slick-active button {
                background-color: #c0301c;
            }
            margin-right: 7px;
            &:last-child {
                margin-right: 0;
            }
            & button {
                margin: 0;
                padding: 0;
                font-size: 0;
                width: 13px;
                height: 13px;
                background-color: #dddddd;
                border: none;
                border-radius: 50%;
                transition: all .3s linear;
            }
        }
    }
}

// TOUCH ========================
.touch {
    padding: 100px 0px;
}

.touch__contacts {
    display: flex;
    justify-content: space-between;
}

.contacts {
    max-width: 300px;
    position: relative;
    margin-bottom: 37px;
}

.contacts__icon {
    position: absolute;
}

.contacts__state {
    display: inline-block;
    padding-left: 30px;
    & .address__name {
        color: #555;
        font-family: $font;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
    }
}

.contacts__name {
    margin-bottom: 10px;
    color: #555;
    font-family: $font;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.contacts__text {
    color: #555;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    & a {
        color: #555;
        font-size: 12px;
        line-height: 20px;
        display: inline-block;
    }
}

.form__contacts {
    max-width: 730px;
}

.form__contacts form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__input {
    display: inline-block;
    margin-bottom: 20px;
}

.form__input input {
    display: inline-block;
    width: 350px;
    height: 44px;
    border: 1px solid #555;
    padding: 10px;
    box-sizing: border-box;
    &:focus {
        border-color: #c0301c;
    }
    font-family: 'Roboto Slab',
    serif;
}

.form__area {
    width: 100%;
    margin-bottom: 20px;
}

.form__area textarea {
    display: inline-block;
    height: 104px;
    min-width: 100%;
    border: 1px solid #555;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    &:focus {
        border-color: #c0301c;
    }
    font-family: 'Roboto Slab',
    serif;
}

.btn__contacts {
    border: 1px solid #555555;
    text-transform: uppercase;
    color: #555;
    font-size: 12px;
    font-weight: 400;
    padding: 15px 35px;
    letter-spacing: 0.6px;
    transition: all .3s linear;
    font-family: 'Roboto Slab', serif;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.form__text {
    padding-top: 17px;
    padding-right: 185px;
    color: #555;
    font-size: 12px;
    line-height: 20px;
    & span {
        color: #c0301c;
        padding-right: 2px;
        ;
    }
}

.footer {
    background-color: #c0301c;
    padding: 100px 0px;
}

.footer__logos {
    max-width: 210px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: relative;
    display: block;
}

.logo__line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer__copy {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    &:before {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background-color: #fff;
        margin: 30px auto;
    }
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

@media (max-width: 1150px) {
    .item-wrapper {
        flex-direction: row-reverse;
    }
    .blog__info {
        padding-right: 10px;
        ;
    }
}

@media (max-width: 1120px) {
    .about__cards--item {
        flex: 0 1 50%;
        margin-bottom: 50px;
    }
}

@media (max-width: 1035px) {
    .works__cards {
        justify-content: space-around;
        .cards__item {
            margin-bottom: 20px;
        }
    }
    .about {
        padding-bottom: 25px;
    }
    .welcome {
        max-height: 700px;
    }
}

@media (max-width: 990px) {
    .item-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .blog__info {
        padding-right: 0px;
        margin-bottom: 30px;
    }
    .comments {
        padding: 50px 0;
    }
    .comments__image {
        flex-direction: column;
        margin-bottom: 25px;
        & div {
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 768px) {
    .welcome__nav {
        z-index: 5;
    }
}

@media (max-width: 768px) {
    .burger {
        display: block;
        z-index: 5;
    }
    .welcome__nav.active {
        top: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        & .welcome__list {
            & a {
                margin: 0 0 20px 0;
                font-size: 25px;
                display: block;
            }
        }
    }
    .welcome__nav {
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #651e16;
        padding: 80px 10px 20px;
        transition: all .3s ease-in-out;
        overflow: auto;
    }
    .services {
        padding: 50px 0px;
    }
    .services__inner {
        flex-wrap: wrap;
    }
    .services__block {
        flex: 0 1 100%;
        margin-bottom: 20px;
    }
    .services__text {
        padding: 0px 30px;
    }
    .block__start {
        margin-bottom: 50px;
    }
    .about {
        padding: 50px 0px;
    }
    .about__text {
        flex-wrap: wrap;
        & p {
            flex: 0 1 100%;
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
    .touch__contacts {
        flex-direction: column-reverse;
    }
    .contacts__body {
        margin-top: 50px;
    }
    .form__text {
        padding-right: 170px;
    }
    .works {
        padding: 50px 0;
    }
    .touch {
        padding: 50px 0px;
    }
    .blog {
        padding: 50px 0px;
    }
    .footer {
        padding: 50px 0px;
    }
}

@media (max-width: 576px) {
    .welcome {
        max-height: 700px;
    }
    .welcome__title {
        font-size: 32px;
    }
    .welcome__subtitle {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .cards__body {
        margin-bottom: 35px;
    }
    .block__list {
        flex-direction: column;
        & li {
            margin-bottom: 20px;
        }
    }
    .project__title {
        font-size: 16px;
        padding-bottom: 30px;
        line-height: 30px;
    }
    .comments__image {
        margin-bottom: 15px;
    }
    .form__text {
        padding-right: 0;
    }
    .about__cards--item {
        flex: 0 1 100%;
    }
    .about__cards {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .info__by {
        display: block;
        padding: 0;
        margin-top: 20px;
    }
}

@media (max-width: 380px) {
    .form__input {
        width: 100%;
    }
    .form__input input {
        width: 100%;
    }
}